
  <p> You have successfully deployed all of your ships! <p>
  <p> Game Rules: Players alternate turns firing "shots" at the opposing player's board.  If there is a "Hit!," one of the opposing player's ships has been fired upon and player's turn continues; if there is a "Miss!," game play moves on to the next player.</p>
  <p> The first player to successfully sink all of the opposing player's ships is the WINNER!</p>
  <p> Good Luck! </p>

<a href="/ready_play"><button>Begin Game</button></a>