<form method="post" action="/boards">

<p>I've got to write the code for taking turns between the players and for firing upon a coordinate during each turn and, after that, the biggest chunk of all the code will be finished!! Pretty much the only major work left after that will be styling the app (which is my very least favorite thing in the world to do).</p>
<p>Also, the first page you came to (where it's off-center)... I'm going to put an image in the open area to the right of the text.  Other than that, though, I have no idea what it'll look like.</p>  
<p>Also, in the actual game play, I already have the code ready to hide the enemy ships from player1's view, but using this view for testing only.  :) </p>
</form>