<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/battle_of_the_ships.css">
</head>
    
<body>
<form method="post" action="game_play">
		
		<%= @player1 %>
		<%= @opponent %>


</form>
</body>
</html>