<html>
<div id="containter">
  <head>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Anton|Quicksand" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <center>
      <!-- <div class="title">Battleship!!</div><br> -->

    <div class="grid-container">
   
    <div class="grid-item1">
      <%= yield %>
    </div>

    <div class="grid-item2">
      <%= erb :opponent_board %>
      <%= erb :player_board %>
    </div>
    
    </div>

    <br><p id="error_out" class="errormsg"></p>
    
  
  <footer>
      <p>Created by Nicci Sheets</p>
</footer>
</center>
</body>
</div>
</html>
