<body>

<h1>It's a Battle of the Ships!!</h1>
<form method="post" action='/register'>
<div class="enter_name">
    <h3>Player One, Please Enter Your Name: </h3>
  		<input type="text" placeholder="Player One Name" name="player" autofocus required>
</div>	


<div class ="enter_difficulty">	
	<h3> Please Select a Difficulty Level for Your Game: </h3>
	
		<input type="radio" name="difficulty" id="beginner" value="beginner" required checked>
			<label for="beginner"> Beginner (Grid Size = 12x12) </label><br>
 		<input type="radio" name="difficulty" id="intermediate" value="intermediate">
			<label for="intermediate"> Intermediate (Grid Size = 24x24) </label><br>
	 	<input type="radio" name="difficulty" id="advanced" value="advanced">
			<label for="advanced"> Advanced (Grid Size = 36x36) </label><br>
		<button class="button">Submit</button>
</div>


 
</form>
</body>
<footer>
</footer>