<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/battle_of_the_ships.css">
</head>
    
<body>
<form method="post" action="start_page">
<div class="choose_difficulty">
	<div class="selection">
		<h3> Please select a difficulty level for your game: </h3>
	</div>
	<div class="difficulty_radio">
		<input type="radio" name="difficulty" id="beginner" value="Beginner" required>
			<label for="beginner"> Beginner (Grid Size = 12x12) </label><br>
 		<input type="radio" name="difficulty" id="intermediate" value="Intermediate">
			<label for="intermediate"> Intermediate (Grid Size = 24x24) </label><br>
	 	<input type="radio" name="difficulty" id="advanced" value="Advanced">
			<label for="advanced"> Advanced (Grid Size = 36x36) </label><br>
	</div>
	<div class="start_page_button">
		<button class="button">Submit</button>
	</div>
</div>





</form>
</body>
</html>
