<% if session[:welcome_rules] %>


<p style="font-size: medium;">Drag each ship onto your board,</p>
<p style="font-size: medium;">taking care not to overlap occupied spaces on your board.</p>

<p style="font-size: medium;">Each ship must be fully contained within</p>
<p style="font-size: medium;">the board to be considered a valid placement.</p>

<p style="font-size: medium;">Ships may be placed horizontally or vertically only,</p>
<p style="font-size: medium;">never diagonally.</p>



<% end %>