<% if session[:welcome_rules] %>

<p style="font-size: 0.9rem;"><span style="color:red">*</span>Ship Placement Guidelines<span style="color:red">*</span></p>
<p style="font-size: 0.1rem;"><span style="color:red">*</span>Drag each ship onto your board by selecting its white box.</p>
<!-- <p style="font-size: 1.1rem;"><span style="color:red">*</span>Dragging only occurs by selecting the white area o</p> -->
<p style="font-size: 0.1rem;"><span style="color:red">*</span>Double-click to rotate a ship horizontally/vertically.</p>
<p style="font-size: 0.1rem;"><span style="color:red">*</span>Ships may not overlap one another.</p>
<p style="font-size: 0.1rem;"><span style="color:red">*</span>Ships may be placed horizontally or vertically only.</p>



<% end %>