body
{
  background-color: #8897b7;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

footer
{
  position: fixed;
  bottom: -30px;
  height: 60px;
  width: 100%;
}
table
{
  width: 8rem;
  font-size: -0.5rem;
  font-weight: bold;
  text-align: center;
  border-collapse: collapse;
}

table, th, td
{
   border: 1px solid black;
}

th, td
{
  padding: 5px;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.4rem 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  cursor: pointer;
}

.title
{
  font-family: 'Quicksand', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 3rem;
}

.txtbox
{
  width: 7rem;
}

.errormsg
{
  color: lightcoral;
  font-weight: bolder;
  font-size: 1.1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 2px;
}

.grid-item1 {
  grid-column: 1 / 2;
}

.grid-item2 {
  grid-column: 2 / 3;
}

.key {
  font-size: 0.9rem;
}


